# Node Modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build Output
.next/
out/

# Static Files
*.log
.DS_Store

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor Config
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files
Thumbs.db
.DS_Store

# TailwindCSS Cache (if using TailwindCSS)
.tailwind/

# Miscellaneous
package-lock.json
yarn.lock

.vercel
